.tableParent {
  // border: 1px solid red;
  width: 100%;
  height: 490px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
  box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);

  &.kesiflerim {
    // height: auto;
    // overflow: auto;
    height: auto;
  }

  .myKesiflerim {
    font-weight: 600;
    font-size: 1rem;
  }

  .rightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 2.25rem;

    .colors {
      display: flex;
      gap: 2.75rem;

      .color {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;

        &:nth-child(1) {
          background-color: #f9d641;
        }

        &:nth-child(2) {
          background-color: #0d7cdb;
        }

        &:nth-child(3) {
          background-color: #00c62f;
        }

        &:nth-child(4) {
          background-color: #ed4024;
        }

        &:nth-child(5) {
          background-color: #cbcbcb;
        }
      }
    }
  }

  button {
    height: 70%;
    border-radius: 4px;
    padding: 0.15rem 2rem;

    p {
      font-size: 15px;
      font-weight: 400;
      color: var(--black);
      text-transform: capitalize;
    }
    
    &.delete-button {
      background-color: transparent;
      width: max-content;
      height: max-content;
    }
  }

  .MuiTextField-root {
    display: none;
  }

  .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
  }

  .MuiDataGrid-columnHeaderTitle {
    font-size: 16px;
    font-weight: 700;
  }

  .MuiDataGrid-cell {
    font-size: 16px;
    justify-content: center !important;
  }

  .MuiDataGrid-root {
    height: 98%;
    width: 100% !important;
    border: none;
  }

  .MuiDataGrid-columnHeaders.MuiDataGrid-withBorderColor {
    border-bottom: none;
  }

  .MuiDataGrid-row {
    background-color: #fff;

    &:nth-child(odd) {
      background-color: #f8f8f8;
    }
  }

  .statue-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .navigate a {
    // border: 1px solid red;
    color: #4e4e4e;
    text-decoration: none;
    cursor: pointer;
  }

  .statue {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;

    p {
      font-size: 16px;
      font-weight: 400;
      overflow-wrap: break-word;
      color: var(--black);
      text-transform: capitalize;
      // border: 1px solid red;
    }

    .new {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #f9d641;
    }

    .explored {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color:#f9d641
    }

    .offered {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #0d7cdb;
    }

    &.approved {
      border: 1px solid #2490f6;
      color: #2490f6;
      background-color: #2491f642;
    }

    &.refused {
      border: 1px solid #505050;
      color: var(--black);
      background-color: #5050501c;
    }

    .cancelled {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ed4024;
    }

    &.completed {
      border: 1px solid #2dab66;
      color: #2dab66;
      background-color: #2dab661f;
    }
  }
}

.date-selector{
  position: relative;
  display: flex;
  flex-direction: column;
}
.date-selector-inner{
  border: 1px solid;
  display: flex;
  position: absolute;
  z-index: 10;
  background-color:white;
}

//
// #day-diff{
//   display: none;
// }

.input-container input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: .75rem;
  position: relative;
  width: 100%;

}


input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.MuiDataGrid-filterForm {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  left: 1000px;
  top: -70px;
}
