.dataGridStyles {
  border: none !important;
  font-size: 12px !important;
  height: 200px !important;

  .datagridButton {
    background-color: var(--yellow);
    height: 70%;
    border-radius: 4px;
    p {
      font-size: 11px;
      font-weight: 400;
      color: var(--black);
      text-transform: capitalize;
    }
  }
}
