.dataGridStyles {
  border: none !important;
  font-size: 12px !important;
  height: 200px !important;
  font-weight: 600 !important;

  .MuiDataGrid-overlayWrapper {
    display: none;
  }

  .MuiDataGrid-columnHeaders {
    border: none;
  }

  .MuiDataGrid-columnHeaders {
    border: none;
  }

  .MuiDataGrid-columnHeaderTitle {
    font-weight: 700;
    font-size: 13px;
  }

  .MuiDataGrid-withBorderColor {
    border: none !important;
  }

  .MuiDataGrid-cell {
    font-size: 12px;
    font-weight: 600;
  }

  .MuiDataGrid-virtualScrollerRenderZone {
    gap: .5rem;
  }
  
  .navigate a {
    text-decoration: none;
    color: #4e4e4e;
  }
}