.editContainer {
  display: flex;
  // gap: 1rem;

  .formContainer {
    background-color: white;
    // margin: 20px;
    padding: 20px;

    padding-left: 48px;
    padding-right: 48px;
    border-radius: 20px;
    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    // box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    display: flex;
    flex-direction: column;
    gap: 20px;
    // align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    //max-height: 50vh;
    // padding: 50px 0px;

    .line {
      border-bottom: 0.5px solid #707070;
    }

    .inputContainer {
      position: relative;
      width: 100%;

      @media screen and (max-width: 1600px) {
        width: 80%;
        transition: 300ms;
      }
      @media screen and (max-width: 1300px) {
        width: 90%;

        transition: 300ms;
      }
      .myfields {
        display: flex;
        gap: 5.5rem;
        align-items: flex-start;
        // border: 1px solid red;
        margin-bottom: 2rem;

        .title {
          font-weight: 600;
          display: flex;
          align-items: center;
          font-weight: 600;
          color: #717477;
          font-size: 15px;
        }

        .row {
          // border: 1px solid blue;
          flex-direction: column;
          // margin-right: 5.5rem;

          img {
            width: 106px;
            height: 106px;
            border-radius: 50%;
            object-fit: cover;
            // border: 1px solid red;
          }
          input {
            height: 2rem;
            width: 6.5rem;

          }


        
          .file-input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
      
       
          .custom-button {
            background-color: transparent;
            color: #898989;
            border: .5px solid #CBCBCB;
            border-radius: 7px;
            cursor: pointer;
            height: 2rem;
            width: 106px;
          }

          
        }

        

        .top-right {
          width: 100%;
          // border: 1px solid red;

          .alan {
            display: flex;
            gap: 1rem;
            // border: 1px solid blue;
            margin-bottom: 1.2rem;
            height: 27px;
          }

          .row1 {
            display: flex;
            gap: 30px;

            .input1 {
              display: flex;
              flex: 1;
              flex-direction: column;
              gap: 0.6rem;

              textarea {
                height: 5.4rem;
                border-radius: 8px;
                border: 1px solid #cbcbcb;
                resize: none;
                padding-left: .5rem;
                // border: 1px solid red;
              }
              Label {
                font-weight: 600;
                color: #717477;
                font-size: 15px;
              }
            }
          }
        }

        .item {
          color: #717477;
          background-color: transparent;
          padding: 0.4rem;
          border: 0.5px solid #cbcbcb;
          border-radius: 8px;
          padding-left: 1rem;
          padding-right: 1rem;
          display: flex;
          align-items: center;
        }
      }

      .row {
        display: flex;
        gap: 30px;
        // align-items: center;
        // border: 1px solid red;

        .input {
          display: flex;
          flex: 1;
          flex-direction: column;
          gap: 10px;

          // border: 1px solid red;
        }
        Label {
          font-weight: 600;
          color: #717477;
          font-size: 15px;
        }
      }

      .alert {
        position: absolute;
        z-index: 15;
        top: 0px;
        align-self: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          border: 1px solid blue;
          padding: 8px;
          margin-left: 30px;
          border-radius: 5px;
          outline: none;
          background-color: transparent;
          color: blue;
          font-weight: bold;
          align-self: flex-end;
          cursor: pointer;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        gap: 30px;

        // .row {
        //   display: flex;
        //   gap: 30px;
        //   align-items: center;

        //   .input {
        //     display: flex;
        //     flex: 1;
        //     flex-direction: column;

        input,
        textarea {
          padding: 8px;
          box-sizing: border-box;
          border: 0.5px solid #cbcbcb;
          border-radius: 5px;
          outline: none;
          background-color: white;

          // &:disabled {
          //   // background-color: gainsboro;
          // }
        }
        textarea {
          height: 90px;
        }

        .row,
        .buttons {
          align-items: center;
          width: 100%;
          justify-content: flex-start;
          box-sizing: border-box;
          gap: 1rem;

          button {
            width: 15%;
            height: 2rem;
            padding: 5px;
            border-radius: 4px;
            box-sizing: border-box;
            border: none;
            margin-top: 7rem;
            &.exit {
              background-color: var(--black);
              // border: 0.5px solid grey;
              font-weight: 600;
              cursor: pointer;
              color: white;
            }
            &.submit {
              background-color: #f9d641;
              // border: 0.5px solid grey;
              color: white;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
