.modal {
  background-color: antiquewhite;
  .area {
    .fade {
      .box {
        background-color: aqua;
        .button-area {
          background-color: aqua;
        }
      }
    }
  }
}
