.newSupport {
  display: flex;
  margin: 0;
  padding: 0;
  .newSupportContainer {
    flex: 6;
    .alert {
      position: absolute;
      top: 30px;
      align-self: center;
      z-index: 30;
      width: 60%;
      display: flex;
      align-items: center;

      .alert-button {
        cursor: pointer;
        padding: 10px;
        border: 1px solid grey;
        background-color: transparent;
        border-radius: 5px;
        margin-left: 20px;
      }
    }
    .newSupportArea {
      background-color: rgba(241, 238, 238, 0.568);
      margin: 20px;
      padding: 20px;
      border: 0.5px solid grey;
      border-radius: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        margin-bottom: 20px;
        color: #505050;
        .header-left {
          flex: 1;
        }
        .header-right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
      form.request-form {
        display: flex;
        flex-direction: column;
        .subject-selectors {
          display: flex;
          margin-bottom: 15px;
          gap: 10px;

          .case-item {
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 14px;
            transition: 250ms;
            box-sizing: border-box;
            cursor: pointer;
            &.selected {
              background-color: var(--black);
              color: white;
              font-weight: 500;
              transition: 250ms;
            }
            &.not-selected {
              border: 0.5px solid grey;
              color: grey;
              font-weight: 500;
              transition: 250ms;
            }
          }
        }
        input.support-summary {
          padding: 10px;
          border: 0.5px solid grey;
          border-radius: 5px;
          margin-bottom: 20px;
          height: 40px;
          box-sizing: border-box;
          outline: none;
        }
        textarea.support-text {
          padding: 10px;
          border: 0.5px solid grey;
          border-radius: 5px;
          margin-bottom: 20px;
          height: 200px;
          outline: none;
        }
        .support-buttons {
          display: flex;
          align-items: center;
          .support-buttons-left {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: start;
            label.add-file {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: #505050;
              font-weight: 300;
            }
            .file-upload {
              background-color: gainsboro;
              padding: 10px;
              border-radius: 4px;
              flex: 0.5;
              height: 80%;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              text-overflow: ellipsis;
              position: relative;
              .icon {
                align-self: flex-end;
                cursor: pointer;
                &:hover {
                  background-color: white;
                  transition: 300ms;
                }
              }
            }
          }
          .support-buttons-right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button.gonder {
              background-color: var(--black);
              color: white;
              font-size: 14px;
              font-weight: 500;
              padding: 15px;
              border-radius: 8px;
              cursor: pointer;
              &:hover {
                background-color: #222121c4;
              }
            }
          }
        }
      }
    }
  }
}
