.navbar {
  display: flex;
  justify-content: space-between;
  height: 35%;
  gap: 1rem;
  @media screen and (max-width:1000px) {
    display: block;
    height: 30%;

  }

  .shortLinkCards {
    width: 50%;
    height: 100%;
    display: flex;
    @media screen and (max-width:1000px) {
width: 100%;    
height: auto;
}

    .widgetContainer {
      // border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      @media screen and (max-width:500px) {
      // display: block;
        }

      .card {
        width: 49%;
        height: 48%;
        user-select: none;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        text-decoration: none;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
        box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
        @media screen and (max-width:500px) {
// width: 23%;
// height: auto;
// margin-bottom: 1rem;

            }
        img {
          width: 3rem;
          @media screen and (max-width:500px) {
            width: 1.5rem;
          }
        }

        .cardInner {
          // border: 1px solid red;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 2rem;
          gap: 1rem;

          .cardLeft {
            display: block;
          }

          .cardText {
            // border: 1px solid red;
            width: 100%;
            color: #393939;
            @media screen and (max-width:500px) {
              font-size: 10px;
                          }



            .cardTop {
              width: 100%;
              display: flex;
              justify-content: space-between;
              color: #787878;
              
            }
          }
        }
      }

      // .activeCard {
      //   width: 49%;
      //   height: 48%;
      //   display: flex;
      //   align-items: center;
      //   background-color: #fff;
      //   border-radius: 20px;
      //   text-decoration: none;
      //   border: 1px solid #f9d641;
      //   -webkit-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
      //   -moz-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
      //   box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);

      //   img {
      //     width: 3rem;
      //   }

      //   .cardInner {
      //     display: flex;
      //     align-items: center;
      //     width: 100%;
      //     padding: 2rem;
      //     gap: 1rem;

      //     .cardText {
      //       width: 100%;
      //       color: #393939;
      //       .cardTop {
      //         width: 100%;
      //         display: flex;
      //         justify-content: space-between;
      //         color: #787878;
      //       }
      //     }
      //   }
      // }
    }
  }

  .helpRequests {
    width: 50%;
    height: 100%;
    @media screen and (max-width:1000px) {
      width: 100%;    
      margin-top: 1rem;
      height: 80%;
      }

    .destekInner {
      // border: 1px solid red;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);
      box-shadow: 0px 0px 5px 0px rgba(213, 213, 213, 1);

      .destekHeader {
        // border: 1px solid red;
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #cdcdcd;
        

        .destekHeaderLeft {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          
          img {
            width: 20px;
          }

          p {
            color: #717477;
            font-size: 1rem;
            font-weight: 700;
          }
        }

        .destekHeaderRight {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 13px;
          font-weight: 700;

          button {
            width: 120px;
            height: 30px;
            color: #fff;
            font-weight: 700;
            font-size: 12px;
            background-color: #2cab67;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }

      .destekDatagrid {
        // border: 1px solid red;
        height: 75%;
        width: 88%;
        overflow-y: auto;
      }

      
    }
  }
}

// .MuiDataGrid-columnHeader .MuiDataGrid-withBorderColor{
// min-width: 100px !important;
// max-width: 100px !important;
// border: 1px solid red;
// }
.css-12u49z-MuiDataGrid-root .MuiDataGrid-withBorderColor{
@media screen and (max-width:600px) {
    min-width: 70px !important;
// max-width: 100px !important;
// width: 100%;
}
}

.css-t89xny-MuiDataGrid-columnHeaderTitle{
  text-overflow: inherit;
}


.css-12u49z-MuiDataGrid-root .MuiDataGrid-columnHeader, .css-12u49z-MuiDataGrid-root .MuiDataGrid-cell {
   box-sizing: content-box; 
}