.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: transparent;
  min-width: 250px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebarLogoArea {
    height: 17.43810548977395vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
  }
  .logodiv{
    width: 80px;
    object-fit: contain;
  }

  .sidebarInner {
    height: 81.2vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-direction: column;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;

    .sidebarTop {
      width: 65%;
      padding-top: 1rem;
      .nots-holder{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        .count{
          font-size: 1rem;
          position: absolute;
          right: 0;
          top: 0;
          //padding: 0.2rem 0.4rem;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          color: #202020;
          background-color: #f8d539;
        }
      
      }
      .not-icon{
        right: 0;
        font-size: 32px;
        color: #535353 !important;
      
      }
      .sidebarFirmInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          border-radius: 50px;
        }
      }
    }

    .sidebarCenter {
      flex: 1;
      width: 65%;
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        display: flex;
        align-items: flex-start;
        padding: 0.5rem 0;
        position: relative;
        flex-direction: column;
        transition: 300ms;

        .sidelink {
          display: flex;
          margin-left: 1rem;
          align-items: center;
          text-decoration: none;

          span {
            font-size: 14px;
            font-weight: 600;
            color: #888;
          }
          &.active {
            span {
              color: #f9d641;
              font-weight: 600;
              transition: 500ms;
            }
            img {
              filter: grayscale(0);
            }
          }
          &.hover {
            color: #f9d641;
            font-weight: 600;
            transition: 500ms;
          }
        }

        .disableLink {
          display: flex;
          margin-left: 1rem;
          align-items: center;
          text-decoration: none;
          pointer-events: none;
          span {
            font-size: 14px;
            font-weight: 600;
            color: #cfcfcf;
          }
        }

        .subLinks {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0.5rem 0rem 0rem 2.5rem;
        }

        .sidelinkmini {
          display: flex;
          align-items: center;
          text-decoration: none;
          margin-bottom: 0.2rem;
          width: 70%;
          span {
            font-size: 12px;
            font-weight: 400;
            color: #888;
            width: 80px;
          }
          &.active {
            span {
              color: #f9d641;
              font-weight: bold;
              transition: 500ms;
            }

            img {
              filter: grayscale(0);
            }
          }
        }
        .icon {
          width: 1.2rem;
          font-size: 18px;
          margin-right: 1rem;
          filter: grayscale(1);
        }

        .iconmini {
          width: 0.5rem;
          font-size: 18px;
          margin-right: 0.2rem;
          filter: grayscale(1);
        }
      }
    }
    hr {
      height: 0.5px;
      background-color: #e7e7e7;
      border: none;
    }

    .sidebarBottom {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;


      .settings {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        text-decoration: none;
        color: #535353;
      }

      .logout {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          margin-right: 5px;
        }
      }
    }

    .sidebarFooter {
      width: 65%;
      display: flex;
      border-top: .5px solid gainsboro;
      padding: .3rem;
      
    }
  }
}
