.dataGridStyles {
  border: none !important;
  font-size: 12px !important;
  height: 225px !important;

  &.livechat {
   height: auto !important;

   .MuiDataGrid-columnHeaders {
    min-height: 0 !important;
    height: 0;
   }
  }

  .datagridButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #000;
  }
}
